
<ul>
  <li><h1><%= @artist.name %></h1></li>
  <li>Bio: </li>
  <li><%= @artist.bio %></li>
  <li>Works:  </li>
  <% @artist.pieces.each do |piece| %>
  <li><%= link_to piece.name, piece %></li>
  <% end %>
