html {
  background: #212121 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#7F7F7F;
}

body {
  font: 14px/21px 'Gruppo', cursive;
}
input {
  height: 30px;
  width: 100px;
    margin: 10px;

  border-style: none;
  font: 14px/21px 'Gruppo', cursive;
}
input[type=submit]{
  width: 80px;
  margin: 10px;
  background-color: #ffefdb;
  border-style: none;
}
ul li{
  font-size: 21px;
  list-style: none;

}

ul.artist-list {

}

.nav-head{
  position: relative;
  top: -50px;
  text-align: right;
}

a{
  text-decoration: none;
  color: #67C7E2;
}
a:hover{
  text-decoration:underline;
}
.nav-head {
  position: relative;
  padding-bottom: 20px

}
.nav-head a{
  display: inline;
  padding: 0 10px;
}
.container {
  width: 90%;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;

}
.comments {
  font:12px;
  padding-bottom: 10px;
}
.graff-head {
  font-family: 'Syncopate', sans-serif;
  text-decoration: none;
}
.nav-head {float:right}
.nav-head:link {text-decoration: none;}
.nav-head:visited {text-decoration: none;}
.graff-head:link {text-decoration: none; color: white}
.graff-head:visited {text-decoration: none;}

img {max-width: none !important; vertical-align: baseline !important;}
div, img {box-sizing:content-box;}
#gmap {
  width: 100%;
  background-color: slate grey;
}